<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mdislam.onestep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/logo" android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="EjTXBWMOqLyb1jbjPjH14ShUu1sZmQsxvRHd4FJV" />

        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="myyobGB3fQ5Q5pF7UXQ8rXhlxizfv2QUvKasYjBK" />


        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignupActivity">

        </activity>

        <activity android:name=".SignupSuccessfulActivity">

        </activity>

        <activity android:name=".ForgotActivity">

        </activity>

        <activity android:name=".ParentActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ViewMediaActivity">

        </activity>

        <activity android:name=".VideoViewerActivty"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".ViewResumeActivity">

        </activity>

        <activity android:name=".ViewJobActivity">

        </activity>

        <activity android:name=".ViewInWebActivity">

        </activity>



    </application>

</manifest>
